#apiVersion: apps/v1
#kind: Deployment
#metadata:
#  name: ms-articulo-compose-deploy
#spec:
#  replicas: 1
#  selector:
#    matchLabels:
#      app: ms-articulo-compose
#  template:
#    metadata:
#      labels:
#        app: ms-articulo-compose
#    spec:
#      containers:
#        - name: ms-articulo-compose
#          image: 10.1.10.13:5000/ms-articulos:v1.0.0
#          envFrom:
#            - configMapRef:
#                name: ms-config
#          ports:
#            - containerPort: 80
#          imagePullPolicy: Always

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-articulo-compose-deploy
  namespace: inventario
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-articulo-compose
  template:
    metadata:
      labels:
        app: ms-articulo-compose
    spec:
      volumes:
        - name: truststore
          secret:
            secretName: coopetarrazu-ca

      containers:
        - name: ms-articulo-compose
          image: 10.1.10.13:5000/prod/articulos/ms-articulos:v1.0.2

          envFrom:
            - configMapRef:
                name: ms-config

          env:
            - name: JAVA_TOOL_OPTIONS
              value: >
                -Djavax.net.ssl.trustStore=/certs/truststore.jks
                -Djavax.net.ssl.trustStorePassword=changeit

          volumeMounts:
            - name: truststore
              mountPath: /certs

          ports:
            - containerPort: 80



