apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: pod-reader-binding
subjects:
  - kind: ServiceAccount
    name: default
roleRef:
  kind: Role
  name: pod-reader
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: endpoint-reader-binding
  namespace: articulos-dev
subjects:
  - kind: ServiceAccount
    name: default
roleRef:
  kind: ClusterRole
  name: endpoint-reader
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: service-access-binding
subjects:
  - kind: ServiceAccount
    name: default
roleRef:
  kind: Role
  name: service-access-role
  apiGroup: rbac.authorization.k8s.io